---
import Layout from "../../layouts/Layout.astro";
import { getRegionParams } from "../../lib/utils/region-params";

export const getStaticPaths = getRegionParams;
---

<Layout>
  <h1>Hello from {Astro.params.countryCode}</h1>
</Layout>
